[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "==0.37.1"
Django = "==2.2.10"
Pillow = "==5.3.0"

[dev-packages]
"pep8" = "*"
"autopep8" = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
